<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "nl.rohecom.stockie"
        version   = "3.4.2">
    <name>UniShop App</name>
    <description>UniShop App</description>

    <author href="https://rohecom.nl" email="webdevelopment@rohecom.nl">Rohecom Team</author>

    <plugin name="cordova-plugin-admobpro" spec="2.9.6">
	<variable name="CALENDARS_USAGE_DESCRIPTION" value="Show available dates" />
	</plugin>
    <plugin name="cordova-plugin-device" spec="1.1.5">
	<variable name="CALENDARS_USAGE_DESCRIPTION" value="Show available dates" />
	</plugin>
    <plugin name="cordova-plugin-file" spec="4.3.2">
	<variable name="CALENDARS_USAGE_DESCRIPTION" value="Show available dates" />
	</plugin>
    <plugin name="cordova-plugin-media" spec="3.0.0">
	<variable name="CALENDARS_USAGE_DESCRIPTION" value="Show available dates" />
	</plugin>
    <plugin name="cordova-plugin-splashscreen" spec="4.0.2">
	<variable name="CALENDARS_USAGE_DESCRIPTION" value="Show available dates" />
	</plugin>
    <plugin name="cordova-plugin-whitelist" spec="1.3.2">
	<variable name="CALENDARS_USAGE_DESCRIPTION" value="Show available dates" />
	</plugin>
    <plugin name="cordova-plugin-x-socialsharing" spec="5.1.7">
	<variable name="CALENDARS_USAGE_DESCRIPTION" value="Show available dates" />
	</plugin>
    <plugin name="phonegap-plugin-barcodescanner" spec="6.0.6">
	 <variable name="CAMERA_USAGE_DESCRIPTION" value="Scan QR-Codes" />
	 <variable name="CALENDARS_USAGE_DESCRIPTION" value="Show available dates" />
	 <key>NSCalendarsUsageDescription</key>
	 <string>Some ad content may access calendar</string>
	</plugin>

    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

    <allow-navigation href="*"/>
    <allow-intent href="*"/>
    <access origin="*"/>

    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    
    <preference name="fullscreen"       value="true" />
    <preference name="webviewbounce"    value="false" />

    <icon src="www/img/appicon.png" />
	
    <icon src="www/img/icon-ios-180.png" platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="www/img/icon-ios-60.png"  platform="ios" width="60" height="60" />
    <icon src="www/img/icon-ios-120.png" platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="www/img/icon-ios-76.png"  platform="ios" width="76" height="76" />
    <icon src="www/img/icon-ios-152.png" platform="ios" width="152" height="152" />
    <icon src="www/img/icon-ios-167.png" platform="ios" width="167" height="167" />

	
   <!-- iPhone and iPod touch -->
   <splash src="Default.png" platform="ios" width="320" height="480" />
   <splash src="Default@2x.png" platform="ios" width="640" height="960" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
   <splash src="Default-568h.png" platform="ios" width="320" height="568" />
   <splash src="Default-568h@2x.png" platform="ios" width="640" height="1136" />

   <!-- iPhone 6 -->
   <splash src="Default-667h.png" platform="ios" width="375" height="667" />
   <splash src="Default-414h@2x.png" platform="ios" width="414" height="736" />
   <splash src="Default-667h@2x.png" platform="ios" width="750" height="1334" />
    <splash src="Default-Portrait-1125h@3x.png" platform="ios" width="1125" height="2001" />
   <splash src="Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />
   <splash src="Default-Portrait-1080h@3x.png" platform="ios" width="1080" height="1920" />
   <splash src="Default-Landscape-736h@3x.png" platform="ios" width="2208" height="1242" />

   <!-- iPad -->
   <splash src="Default-Portrait.png" platform="ios" width="768" height="1024" />
   <splash src="Default-Landscape.png" platform="ios" width="1024" height="768" />

   <!-- Retina iPad -->
   <splash src="Default-Portrait@2x.png" platform="ios" width="1536" height="2048" />
   <splash src="Default-Landscape@2x.png" platform="ios" width="2048" height="1536" />

   <gap:splash src="www/img/startup640x1096.png"   gap:platform="android" gap:density="ldpi" />
   <gap:splash src="www/img/startup750x1294.png"   gap:platform="android" gap:density="mdpi" />
   <gap:splash src="www/img/startup768x1004.png"   gap:platform="android" gap:density="hdpi" />

   <gap:splash src="www/img/startup768x1004.png"   gap:platform="blackberry" />
   <gap:splash src="www/img/startup768x1004.png"   gap:platform="winphone" />
	
	<platform name="ios">
    <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
        <string>We are using the camera to scan product barcodes</string>
    </config-file>

	<config-file parent="NSCalendarsUsageDescription" target="*-Info.plist">
        <string>We are using the calendar to determine the availability of products</string>
    </config-file>
	</platform>
	
	<platform name="android">
    <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
        <string>We are using the camera to scan product barcodes</string>
    </config-file>
	
	<config-file parent="NSCalendarsUsageDescription" target="*-Info.plist">
        <string>We are using the calendar to determine the availability of products</string>
    </config-file>
	</platform>
	 
	 <gap:config-file platform="ios" parent="NSCameraUsageDescription" overwrite="true">
   <string>We are using the Camera for scanning barcodes..</string>
</gap:config-file>

<gap:config-file platform="ios" parent="NSCalendarsUsageDescription" overwrite="true">
   <string>We are using the Calendar for availability of stock</string>
</gap:config-file>

</widget>
