<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "nl.rohecom.stockie"
        version   = "3.1.4">
    <name>Stockie (3.1.4)</name>
    <description>Stockie (3.1.4)</description>

    <author href="https://rohecom.nl" email="webdevelopment@rohecom.nl">Rohecom Team</author>

    <plugin name="cordova-plugin-admobpro" spec="2.9.6" />
    <plugin name="cordova-plugin-device" spec="1.1.5" />
    <plugin name="cordova-plugin-file" spec="4.3.2" />
    <plugin name="cordova-plugin-media" spec="3.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="4.0.2" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.2" />
    <plugin name="cordova-plugin-x-socialsharing" spec="5.1.7" />
    <plugin name="phonegap-plugin-barcodescanner" spec="6.0.6" />

    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

    <allow-navigation href="*"/>
    <allow-intent href="*"/>
    <access origin="*"/>

    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    
    <preference name="fullscreen"       value="true" />
    <preference name="webviewbounce"    value="false" />

    <icon src="www/img/appicon.png" />

    <gap:splash src="www/img/startup640x1096.png"   gap:platform="android" gap:density="ldpi" />
    <gap:splash src="www/img/startup750x1294.png"   gap:platform="android" gap:density="mdpi" />
    <gap:splash src="www/img/startup768x1004.png"   gap:platform="android" gap:density="hdpi" />
    <gap:splash src="www/img/startup640x1096.png"   gap:platform="ios"     width="640" height="1096" />
    <gap:splash src="www/img/startup750x1294.png"   gap:platform="ios"     width="750" height="1294" />
    <gap:splash src="www/img/startup768x1004.png"   gap:platform="ios"     width="786" height="1004" />
    <gap:splash src="www/img/startup768x1004.png"   gap:platform="blackberry" />
    <gap:splash src="www/img/startup768x1004.png"   gap:platform="winphone" />
</widget>
