<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "nl.rohecom.stockie"
        version   = "2.0.1">
    <name>Stockie</name>
    <description>Stockie</description>

    <author href="https://rohecom.nl" email="webdevelopment@rohecom.nl">Rohecom Team</author>

    <plugin name="phonegap-plugin-barcodescanner"/>

    <gap:plugin name="cordova-plugin-device" source="npm"/>
    <gap:plugin name="cordova-plugin-file" source="npm"/>
    <gap:plugin name="cordova-plugin-media" source="npm"/>
    <gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    <gap:plugin name="cordova-plugin-x-socialsharing" source="npm"/>
    <gap:plugin name="cordova-plugin-admobpro" source="npm" spec="2.9.6"/>

    <allow-navigation href="*"/>
    <allow-intent href="*"/>
    <access origin="*"/>

    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />
    <preference name="webviewbounce"    value="false" />

    <icon src="www/img/appicon.png" />

    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"   gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"   gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"   gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png"  gap:platform="android" gap:density="xhdpi" />   
    <gap:splash src="res/screen/ios/screen-iphone-portrait.png"     gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png"  gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/ios/screen-ipad-portrait.png"       gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/ios/screen-ipad-landscape.png"      gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="res/screen/ios/Splash-750x1334.png"            gap:platform="ios"     width="750" height="1334" />
    <gap:splash src="res/screen/ios/Splash-2208x1242.png"           gap:platform="ios"     width="1242" height="2208" />
    <gap:splash src="res/screen/ios/Splash-1242x2208.png"           gap:platform="ios"     width="2208" height="1242" />
    <gap:splash src="res/screen/blackberry/screen-225.png"          gap:platform="blackberry" />
    <gap:splash src="res/screen/windows-phone/screen-portrait.jpg"  gap:platform="winphone" />
</widget>
